<div class="container">
  <form name="new-user-form" action="/users" method="post">
    <div class="row">
      <div class="input-field col-sm-12">
        <label for="title">First Name</label>
        <input class="input-field col-sm-12" name="first_name" type="text">
      </div>
      <div class="input-field col-sm-12">
        <label for="title">Last Name</label>
        <input class="input-field col-sm-12" name="last_name" type="text">
      </div>
      <div class="input-field col-sm-12">
        <label for="image_url">Link to Picture</label>
        <input name="image_url" type="text">
      </div>
      <!-- <div class="input-field col-sm-12">
        <label for="bio">Bio</label>
        <textarea name="bio" class="materialize-textarea"></textarea>
      </div> -->
      <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
    </div>
  </form>
</div>
