<div class="container">
  <h3>Editing {{post.title}}</h3>
  <form name="edit-post-form">
    <div class="row">
      <div class="input-field col s12">
        <label for="title">Title</label>
        <input class="input-field col s12" placeholder="{{post.title}}" name="title" type="text">
      </div>
      <div class="input-field col s12">
        <label for="body">Body</label>
        <textarea placeholder="{{post.postBody}}" name="body" class="materialize-textarea"></textarea>
      </div>
      <button class="waves-effect waves-light btn-large">Submit</button>
    </div>
  </form>
</div>
